body{
	font-family: 'Pavanam', sans-serif;
	font-weight: 300;
}

#welcome-section{
	height: 100vh;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: center;
	background-color: #e5e5e5;

}

nav{
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	height: 10vh;
	width: 100vw;
	background-color: #e5e5e5;
	box-shadow: 0px 2px 5px #3a3a3a;
	justify-content: center;
	align-items: center;
}

#navbar p{
	font-size: 1.5em;
	margin: 1vw;
}
.nav-link{
	text-decoration: none;
	color: inherit;
	background-color: #f2f2f2;
	width: 5em;
	padding: 0.5em;
	margin: 1vh 1vw 1vh 1vw;
	height: 4vh;
	box-shadow: 0px 0px 5px #3a3a3a;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 1.5em;
}
.menu{
	display: none
}
.hamburger{
	display: none;
}
.cross{
	display: none;
}

section{
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	width: 90vw;
	margin: 5vh 5vw 5vh 5vw;
}

#welcome-section p{
	font-size: 2em;
	flex-shrink: 0.5;
}
#welcome-section h1{
	font-size: 2em;
	flex-shrink: 0.5;
}
#about h1{
	font-size: 2em;
}
#about h2{
	font-size: 2em;
}
#about p{
	font-size: 1.5em;
}
#projects{
	flex-flow: column nowrap;
}

#project-container{
	display: flex;
	flex-flow: row wrap;
}
.project-tile{
	display: flex;
	flex-flow: column;
	align-items: center;
	width: 28vw;
	height: 50vh;
	box-shadow: 0px 0px 10px #3a3a3a;
	margin: 1vw;
	max-width: 300px;
}
.project-img{
	width: 24vw;
	max-width: 80%;
}
.project-title{
	margin: 1vh 1vw 1vh 1vw;
}
.project-info{
	width: 80%;
	font-size: 0.9em;
	margin: 1vh 1vw 1vh 1vw;
}
.project-tile a{
	text-decoration: none;
	background-color: #e5e5e5; ;
	box-shadow: 0px 0px 5px #3a3a3a;
	color: black;
	background-color: #e5e5e5;
	padding: 0.4em;
	margin: 0.5vh 1vw 0.5vh 1vw;
}
#contact{
	flex-flow: row wrap;
	justify-content: center;	
}
#contact i{
	font-size: 2em;
	color: #000000;
	margin: 1em;
}



@media (max-width: 840px){
	.nav-link{
		display: none;
	}
	#navbar{
		justify-content: space-between;
		align-items: center
	}
	#welcome-section{
		font-size: 1em;
		justify-content: center;
	}
	#project-container{
	flex-flow: column;
	}
	.project-tile{
		width: 80vw;
	}
}

